.landingpage {
  text-align: center;
}

/* Buttons */
.btn-group > .btn-group:not(:first-child) > .btn,
.btn-group > .btn:not(:first-child),
.btn-group > .btn-group:not(:first-child) > .btn,
.btn-group > .btn:not(:last-child):not(.dropdown-toggle),
.more-rounded {
  border-radius: 4em;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.navbar-collapse > .form-inline {
  width: 100%;
}

.form-control {
  padding-top: 0.375rem;
  padding-bottom: 0.375em;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.form-control.left-rounded {
  padding-left: 24px;
}

.search-form-custom::before,
.search-form-custom > input::before {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.left-rounded {
  border-top-left-radius: 4em;
  border-bottom-left-radius: 4em;
}

.right-rounded {
  border-top-right-radius: 4em;
  border-bottom-right-radius: 4em;
}

.search-form-custom {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.input-group-append-more {
  margin-left: 0px;
  display: flex;
}

.btn-outline-success {
  color: #46b29d;
  background-color: transparent;
  background-image: none;
  border-color: #46b29d;
}

.btn-outline-success:hover,
.btn-outline-success:not(:disabled):not(.disabled).active,
.btn-outline-success:not(:disabled):not(.disabled):active,
.show > .btn-outline-success.dropdown-toggle {
  background-color: #46b29d;
  border-color: #46b29d;
}

/* Nav Bar */
.full-parent-width::before {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

/* @media screen and (max-width: 760px) {
  .navbar-collapse > form {
    display: none;
  }

  .form-control {
    display: none;
  }
} */

/* Profile container */
.profile {
  margin: 20px 0;
}

.align-center {
  align-content: center;
}

.flex-grow-04 {
  flex-grow: 0.4;
}

/* Profile sidebar */
.profile-sidebar {
  padding-top: 0;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  background: #f5f5f5;
  min-height: 460px;
}

.profile-header {
  text-align: left;
  text-emphasis: bold;
  font-size: 20px;
  float: middle;
}

.profile-header-text {
  background: #e0e0e0;
  padding-left: 5%;
  margin-bottom: 10px;
  text-transform: uppercase;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

.profile-header-button {
  color: black;
  float: right;
  padding-top: 0.05em;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0.4em;
}

.smaller-profile-box {
  margin-top: 10px;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 30% !important;
  -moz-border-radius: 30% !important;
  border-radius: 30% !important;
}

.profile-userpic > img {
  max-width: 100px;
  max-height: 100px;
}

.profile-header::before {
  left: 0;
  right: 0;
  top: 0;
}

.profile-header-text {
  color: black;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: black;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: black;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

/* Search bar */

.btn-group.aligned-left {
  text-align: left;
}

/* Colours */
a {
  color: #46b29d;
}

a:hover {
  color: #324d5c;
}

.hover-w-b:hover,
.hover-t-b {
  color: white;
  background-color: #45b29d;
  border-color: #45b29d;
}

.hover-t-b:hover,
.hover-w-b {
  color: #46b29d;
  background-color: white;
  border-color: #45b29d;
}

.hover-def-plain-b {
  color: black;
}

.hover-def-plain-b:hover {
  color: #324d5c;
}

.griz-t-color {
  color: #46b29d;
}

.griz-t-bg {
  background-color: #46b29d;
}

.griz-t-brdrc {
  border-color: #46b29d;
}

.griz-o-color {
  color: #e37b40;
}

.griz-o-bg {
  background-color: #e37b40;
}

.griz-o-brdrc {
  border-color: #e37b40;
}

.griz-red-color {
  color: #de5b49;
}

.griz-red-bg {
  background-color: #de5b49;
}

.griz-red-brdrc {
  border-color: #de5b49;
}

.griz-dark-blue-color {
  color: #324d5c;
}

.griz-dark-blue-bg {
  background-color: #324d5c;
}

.griz-dark-blue-brdrc {
  border-color: #324d5c;
}

.griz-yellow-color {
  color: #f0ca4d;
}

.griz-yellow-bg {
  background-color: #f0ca4d;
}

.griz-yellow-brdrc {
  border-color: #f0ca4d;
}
