/* General */

.App {
  text-align: center;
}


/* Buttons */
.more-rounded {
  border-radius: 4em;
  padding: 0.5em 1.5em;
}

.search-form-custom, .search-form-custom .form-control.left-rounded{
  width: calc(83%);
}

.navbar-collapse > .form-inline {
  width: 100%;
}

.form-control {
  padding-top: .375rem;
  padding-bottom: .375em;
}

.form-control.left-rounded {
  padding-left: 24px;
  padding-right: 5%;
}

@media screen and (max-width: 934px) {
  .form-control.left-rounded {
    width: calc(60%);
  }
}

@media screen and (max-width: 800px) {
  .form-control.left-rounded {
    width: calc(50%);
  }
}



.left-rounded {
  border-top-left-radius: 4em;
  border-bottom-left-radius: 4em;
}

.right-rounded {
  border-top-right-radius: 4em;
  border-bottom-right-radius: 4em;
}

.search-form-custom {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.input-group-append-more {
  margin-left: 0px;
  display: flex;
}

.btn-outline-success-primary {
  background-color:#46B29D;
  border-color: #46B29D;
  color: white;
}

.btn-outline-success-primary:hover, .btn-outline-success-primary > a:hover {
  font-weight: bold;
  color: white;
}

.btn-outline-success-secondary {
  background-color:white;
  border-color:#46B29D;
  color: #46B29D;
}

.btn-outline-success-secondary:hover, .btn-outline-success-secondary > a:hover  {
  font-weight: bold;
  color: #46B29D;
}

/* Nav Bar */

.full-parent-width::before {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}


@media screen and (max-width: 760px) {
    .navbar-collapse > form {
      display: none;
    }

    .form-control {
      display: none;
    }
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding-top: 0;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right:0;
  background: #f5f5f5;
  min-height: 460px;
}

.profile-header{
  text-align: left;
  text-emphasis: bold;
  font-size: 20px;
  float: middle;
}

.profile-header-text{
  background: #e0e0e0;
  padding-left: 5%;
  margin-bottom: 10px;
  text-transform: uppercase;
  padding-top: .4em;
  padding-bottom: .4em;
}

.profile-header-button{
  color:black;
  float: right;
  padding-top: .05em;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: .4em;
}

.smaller-profile-box{
  margin-top: 10px;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 30% !important;
  -moz-border-radius: 30% !important;
  border-radius: 30% !important;
}


.profile-header::before{
  left: 0;
  right:0;
  top: 0;
}

.profile-header-text{
  color:black;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: black;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: black;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}


