html {
  height: 100%;
}

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  min-height: 100% !important;
  height: 100%;
  width: 100%;
}

.App,
#root,
body > #root > .App,
.griz-portal {
  padding: 0;
  margin: 0;
  min-height: 100vh !important;
}

.griz-portal-parent {
  padding: 0;
  margin-top: 5%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  min-height: 95vh !important;
}

.googleLogo {
  /* border: 2px #4285f4; */
  /* thin solid ; */
  /* border-color: #4285f4; */
  height: 30px;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #4285f4;
  border-right-style: none;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #4285f4;
  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: #4285f4;
}

.gButton {
  background-color: #4285f4;
  color: #fff;
  height: 30px;
  width: 110px;
  border: none;
  text-align: center;
  font-size: 11px;
  display: block;
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  font-family: Roboto, arial, sans-serif;
  cursor: pointer;
}
